<h1><%= @place["name"] %></h1>

<p><a href="/posts/new">Add post for <%= @place["name"]%></a></p>

<ul>
    <% for post in @posts %>
        <li>
            <%= post["title"] %>
            <%= post["description"] %>
            <%= post["posted_on"] %>
        </li>
    <% end %>
</ul>

<p>
    <a href="/places" >Back to all places</a>
</p>




<p><%= button_to "Delete this place", @place, :method => "delete" %></p>